<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shiying.test_correlation.mapper.TestCorrelationMapper">

    <select id="list" resultType="cn.shiying.test_correlation.entity.vo.TestCorrelationVO">
        select tp.test_name,tc.ceiling,tc.floor,tc.unit
        from test_synthesize ts
        inner join test_correlation tc
        on ts.test_synthesize_id=tc.test_synthesize_id
        inner join test_projects tp
        on tp.test_projects_id=tc.test_projects_id
        where ts.test_synthesize_id=#{params.pid}
    </select>

</mapper>
