<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shiying.drug_model.mapper.DrugModelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.shiying.drug_model.entity.DrugModel">
        <id column="drug_model_id" property="drugModelId" />
        <result column="drug_model_name" property="drugModelName" />
        <result column="drug_model_introduction" property="drugModelIntroduction" />
        <result column="drug_model_code" property="drugModelCode" />
        <result column="drug_model_range" property="drugModelRange" />
        <result column="drug_model_type" property="drugModelType" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        drug_model_id, drug_model_name, drug_model_introduction,drug_model_code,drug_model_range,drug_model_type
    </sql>
    <select id="queryByNameorRange" resultMap="BaseResultMap">
        select * from drug_model
        <where>
            <if test="params.drugModelName != null and params.drugModelName != ''">
                and drug_model_name LIKE concat('%',#{params.drugModelName},'%')
            </if>
            <if test="params.drugModelRange != null and params.drugModelRange != ''">
                and drug_model_range = #{params.drugModelRange}
            </if>
        </where>
    </select>
    <insert id="add">
        insert into drugs_drug_model(drug_model_id,drugs_id)value(#{drugModelId},#{ids})
    </insert>
    <delete id="del">
        delete from drugs_drug_model where drug_model_id in 
        <foreach collection="list" item="drug_model_id" open="(" close=")" separator=",">
            #{drug_model_id}
        </foreach>
    </delete>
    <select id="selectById" resultType="cn.shiying.drug_model.entity.vo.DrugModelVo">
        select  dd.*
        from drugs_detailed dd
        inner join drugs_drug_model ddm
        on dd.drugs_id=ddm.drugs_id
        where ddm.drug_model_id=#{id}
    </select>
    <select id="selectbyid" resultType="cn.shiying.drug_model.entity.DrugModel">
        select * from drug_model where drug_model_id=#{id}
    </select>
    
    <delete id="delbyid">
        delete from drugs_drug_model where drug_model_id=#{DrugModelId}
    </delete>

    <select id="selectDrug" resultType="cn.shiying.drug_model.entity.vo.DrugModelVo">
        select  dd.*
        from drugs_detailed dd
        inner join drugs_drug_model ddm
        on dd.drugs_id=ddm.drugs_id
    </select>
</mapper>
