<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shiying.drug_model.mapper.DrugModelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.shiying.drug_model.entity.DrugModel">
        <id column="drug_model_id" property="drugModelId" />
        <result column="drug_model_name" property="drugModelName" />
        <result column="drug_model_introduction" property="drugModelIntroduction" />
        <result column="drug_model_code" property="drugModelCode" />
        <result column="drug_model_range" property="drugModelRange" />
        <result column="drug_model_type" property="drugModelType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        drug_model_id, drug_model_name, drug_model_introduction,drug_model_code,drug_model_range,drug_model_type
    </sql>
    <insert id="add">
        insert into drugs_drug_model(drug_model_id,drugs_id)value(#{drugModelId},#{ids})
    </insert>
</mapper>
