<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shiying.requirements.mapper.RequirementsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.shiying.requirements.entity.Requirements">
        <result column="test_synthesize_id" property="testSynthesizeId"/>
        <result column="patient_id" property="patientId"/>
        <result column="register_id" property="registerId"/>
        <result column="purpose" property="purpose" />
        <result column="requirements" property="requirements" />
        <result column="Clinical_impression" property="clinicalImpression" />
        <result column="Clinical_diagnosis" property="clinicalDiagnosis" />
        <result column="Check_the" property="checkThe" />
    </resultMap>
    <resultMap id="WithDepartment" extends="BaseResultMap" type="cn.shiying.requirements.entity.Vo.Requirements_Vo">
        <association property="patientDetailed" column="patient_id" select="cn.shiying.common.mapper.PatientDetailedMapper.selectById"/>
        <association property="requirements1" column="test_synthesize_id"
                     select="cn.shiying.requirements.mapper.RequirementsMapper.selectById"/>
        <association property="testSynthesize" column="test_synthesize_id"
                     select="cn.shiying.common.mapper.TestSynthesize.TestSynthesizeMapper.selectById"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        test_synthesize_id, uid,patient_id,register_id, purpose, requirements, Clinical_impression, Clinical_diagnosis, Check_the,status
    </sql>
    <update id="updatestate">
        update  requirements  set status=2 where test_synthesize_id=#{id}
    </update>
    <select id="All" resultMap="WithDepartment">
        select
        <include refid="Base_Column_List"/>
        from requirements where status=1
    </select>
    <select id="TestSynthesizeAll" resultType="cn.shiying.requirements.entity.TestSynthesizeAll">
 SELECT distinct r.test_synthesize_id,t.test_synthesize_name,t.test_synthesize_price,r.`status` FROM test_synthesize t
        LEFT JOIN requirements r
        on t.test_synthesize_id=r.test_synthesize_id
        WHERE r.test_synthesize_id in
        (select test_synthesize_id from  requirements where register_id=#{id} );
    </select>
    <select id="topFive" resultType="cn.shiying.requirements.entity.TestSynthesizeAll">
        select t2.test_synthesize_id,t2.test_synthesize_name,t2.test_synthesize_price
        from requirements t1
        inner join test_synthesize t2
        on t1.test_synthesize_id=t2.test_synthesize_id
        where t1.uid=#{uid}
        group by t1.test_synthesize_id
        order by count(1) desc
        limit 5
    </select>
</mapper>
