<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shiying.requirements.mapper.TestSheetChilrenMapper">


    <select id="list" resultType="cn.shiying.requirements.entity.Vo.TestsheetChilrenVO">
        select r.id,tp.Test_projects_id,tp.test_name,tc.ceiling,tc.floor,tc.unit
        from requirements r
        inner join test_correlation tc
        on r.synthesize_id=tc.test_synthesize_id
        inner join test_projects tp
        on tp.test_projects_id=tc.test_projects_id
        where tc.test_synthesize_id=#{params.pid}
    </select>
</mapper>
