<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shiying.prescription.mapper.PrescriptionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.shiying.prescription.entity.Prescription">
        <id column="prescription_id" property="prescriptionId" />
        <result column="prescription_name" property="prescriptionName" />
        <result column="prescription_price" property="prescriptionPrice" />
        <result column="prescription_state" property="prescriptionState" />
    </resultMap>
    <resultMap id="WithDepartment" extends="BaseResultMap" type="cn.shiying.prescription.entity.Prescription_Vo">
        <association property="drugsDetailed" column="drugs_id"
                     select="cn.shiying.common.mapper.Drugs.DrugsDetaileMapper.selectById"/>
        <association property="prescription" column="prescription_id"
                     select="cn.shiying.prescription.mapper.PrescriptionMapper.selectById"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        prescription_id, prescription_name, prescription_price
    </sql>
    <sql id="Base_Column_List1">
        pd_id, prescription_id, drugs_id,drugs_num,drugs_use,drugs_day,drugs_usenum,status
    </sql>
    <insert id="addpPrescription" parameterType="cn.shiying.prescription.entity.Prescription">
        insert into prescription values(#{prescriptionId},#{prescriptionName},#{prescriptionPrice},0)
    </insert>
    <insert id="addpPrescriptionDetails" parameterType="java.util.List">
        insert into prescription_details values
        <foreach collection="list" item="drugs" separator="," close=";">
            (null,#{drugs.prescriptionId},#{drugs.drugsId},#{drugs.drugsNum},#{drugs.drugsUse},#{drugs.drugsDay},#{drugs.drugsUsenum})
        </foreach>
    </insert>
    <update id="toVoid">
        update prescription set prescription_state=1 where
        <foreach collection="list" item="id" index="index" separator=" or ">
            prescription_id=#{id}
        </foreach>
    </update>
    <update id="updatestate">
        update  prescription_details  set status=4 where prescription_id=#{id}
    </update>
    <select id="PrescriptionVo" resultMap="WithDepartment">
        select
        <include refid="Base_Column_List1"/>
        from prescription_details where status=1

    </select>
    <select id="PrescriptionVoByid" resultMap="WithDepartment">
        select
        <include refid="Base_Column_List1"/>
        from prescription_details where prescription_id=#{id}
    </select>
</mapper>
