<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shiying.test_model.mapper.TestModelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.shiying.test_model.entity.TestModel">
        <id column="test_model_id" property="testModelId" />
        <result column="test_model_name" property="testModelName" />
        <result column="test_model_introduction" property="testModelIntroduction" />
        <result column="test_model_code" property="testModelCode" />
        <result column="test_model_range" property="testModelRange" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        test_model_id, test_model_name, test_model_introduction, test_model_code, test_model_range
    </sql>
    <insert id="add">
        insert into test_test_model(test_model_id,test_synthesize_id)value(#{testModelId},#{ids})
    </insert>
<!--    删除-->
    <delete id="del">
        delete from test_test_model where test_model_id in
        <foreach collection="list" item="test_model_id" open="(" close=")" separator=",">
            #{test_model_id}
        </foreach>
    </delete>
    <!--    查询已有的化验项目-->
    <select id="selectById" resultType="cn.shiying.test_model.entity.vo.TestModelVo">
        select  ts.*
        from test_synthesize ts
        inner join test_test_model tt
        on tt.test_synthesize_id=ts.test_synthesize_id
        where tt.test_model_id=#{id}
    </select>
    <select id="selectbyid" resultType="cn.shiying.test_model.entity.TestModel">
        select * from test_model where test_model_id=#{id}
    </select>
    <delete id="delbyid">
        delete from test_test_model where test_model_id=#{testModelId}
    </delete>
</mapper>
