<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shiying.test_projects.mapper.TestProjectsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.shiying.test_projects.entity.TestProjects">
        <id column="test_projects_id" property="testProjectsId" />
        <result column="test_abbreviation" property="testAbbreviation" />
        <result column="test_name" property="testName" />
        <result column="floor" property="floor" />
        <result column="ceiling" property="ceiling" />
        <result column="unit" property="unit" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        test_projects_id, test_abbreviation, test_name, floor, ceiling, unit
    </sql>

</mapper>
