<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shiying.icd.mapper.IcdMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.shiying.icd.entity.Icd">
        <id column="icd_id" property="icdId" />
        <result column="icd_name" property="icdName" />
        <result column="icd_code" property="icdCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        icd_id, icd_name, icd_code
    </sql>
</mapper>
