<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shiying.dms_case_model.mapper.DmsCaseModelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.shiying.dms_case_model.entity.DmsCaseModel">
        <id column="id" property="id" />
        <result column="chief_complaint" property="chiefComplaint" />
        <result column="history_of_present_illness" property="historyOfPresentIllness" />
        <result column="history_of_treatment" property="historyOfTreatment" />
        <result column="past_history" property="pastHistory" />
        <result column="allergies" property="allergies" />
        <result column="health_checkup" property="healthCheckup" />
        <result column="priliminary_dise_id_list" property="priliminaryDiseIdList" />
        <result column="priliminary_dise_str_list" property="priliminaryDiseStrList" />
        <result column="name" property="name" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, chief_complaint, history_of_present_illness, history_of_treatment, past_history, allergies, health_checkup, priliminary_dise_id_list, priliminary_dise_str_list, name, status
    </sql>

</mapper>
