<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shiying.test_synthesize.mapper.TestSynthesizeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.shiying.test_synthesize.entity.TestSynthesize">
        <id column="test_synthesize_id" property="testSynthesizeId" />
        <result column="test_synthesize_name" property="testSynthesizeName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        test_synthesize_id, test_synthesize_name
    </sql>

    <!-- 添加化验详细表 -->
    <insert id="addTestCorrelation" parameterType="java.util.List">
        insert into test_correlation(test_synthesize_id,Test_projects_id,floor,ceiling,unit,createtime,uid) values
        <foreach collection="list" item="correlation" separator="," close=";">
           (#{correlation.testSynthesizeId},#{correlation.testProjectsId},#{correlation.floor},#{correlation.ceiling},#{correlation.unit},default,#{correlation.uid})
        </foreach>
    </insert>

    <select id="SynthesizeList" resultType="cn.shiying.test_synthesize.entity.TestSynthesize">
        select test_synthesize_id, test_synthesize_name from test_synthesize
        <where>
            <if test="params.key != null and params.key != ''">
                and test_synthesize_name LIKE concat('%',#{params.key},'%')
            </if>
        </where>
    </select>

</mapper>
