<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shiying.test_synthesize.mapper.TestSynthesizeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.shiying.test_synthesize.entity.TestSynthesize">
        <id column="test_synthesize_id" property="testSynthesizeId" />
        <result column="test_synthesize_name" property="testSynthesizeName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        test_synthesize_id, test_synthesize_name
    </sql>
    <select id="queryByCatnum" resultMap="BaseResultMap">
        select * from test_synthesize
        <where>
            <if test="params.testSynthesizeName != null and params.testSynthesizeName != ''">
                and test_synthesize_name LIKE concat('%',#{params.testSynthesizeName},'%')
            </if>
        </where>
    </select>
</mapper>
