<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shiying.common.mapper.Drugs.DrugsDetailedMapper">
    <select id="like" resultType="cn.shiying.common.entity.Drugs.DrugsDetailed">
            select * from drugs_detailed
        <where>
            <if test="name!=null||name!=''">
                 drugs_name like concat('%',#{name},'%')
            </if>
        </where>
    </select>
</mapper>
