<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shiying.dms_case_model_catalog.mapper.DmsCaseModelCatalogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.shiying.dms_case_model_catalog.entity.DmsCaseModelCatalog">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="level" property="level" />
        <result column="type" property="type" />
        <result column="status" property="status" />
        <result column="model_id" property="modelId" />
        <result column="scope" property="scope" />
        <result column="own_id" property="ownId" />
        <result column="create_time" property="createTime" />
        <result column="name" property="name" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, level, type, status, model_id, scope, own_id, create_time, name
    </sql>

</mapper>
