<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shiying.drugsSupplier.mapper.DrugsSupplierMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.shiying.drugsSupplier.entity.DrugsSupplier">
        <id column="dsid" property="dsid" />
        <result column="supplier_id" property="supplierId" />
        <result column="drugs_id" property="drugsId" />
    </resultMap>
    <resultMap id="WithDepartment" extends="BaseResultMap" type="cn.shiying.drugsSupplier.entity.vo.DrugsSupplierVO">
        <association property="supplierDetailed" column="supplier_id" select="cn.shiying.common.mapper.supplier.SupplierDetailedMapper.selectById" />
        <association property="drugsDetailed" column="drugs_id" select="cn.shiying.common.mapper.Drugs.DrugsDetailedMapper.selectById" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        dsid,supplier_id,drugs_id
    </sql>
    <delete id="deletebyid">
            delete from drugs_supplier where drugs_id=#{id} and supplier_id=#{did}
    </delete>
    <select id="selectlike" resultMap="WithDepartment">
        select ds.dsid,ds.supplier_id,ds.drugs_id
        from drugs_supplier ds
        inner join drugs_detailed dd
        on ds.drugs_id=dd.drugs_id
        <where>
            <if test="params.drugsName!=null||params.drugsName!=''">
                and dd.drugs_name like concat('%',#{params.drugsName},'%')
            </if>
        </where>
    </select>
    <select id="All" resultMap="WithDepartment">
        select ds.dsid,ds.supplier_id,ds.drugs_id from drugs_supplier ds where ds.supplier_id=#{pid}
    </select>
</mapper>
