<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shiying.drugs_storage.mapper.DrugsStorageDetailedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.shiying.drugs_storage.entity.DrugsStorageDetailed">
        <id column="pharmacy_id" property="pharmacyId" />
        <result column="pharmacy_name" property="pharmacyName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pharmacy_id, pharmacy_name
    </sql>

    <!-- 显示所有销售信息 -->
    <!--<select id="Base_Column_List" resultType="DrugsStorageDetailed">
		select dd.drugs_name '药品名',dd.drugs_price '药品价格',ds.pharmacy_name '仓库'
        from drugs_detailed dd
        inner join drugs_storage_detailed_info di
        on dd.drugs_id=di.drugs_id
        inner join drugs_storage_detailed ds
        on ds.pharmacy_id=di.pharmacy_id
	</select>-->

</mapper>
