<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shiying.drugs_storage.mapper.DrugsStorageDetailedInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.shiying.drugs_storage.entity.DrugsStorageDetailedInfo">
        <result column="drugs_id" property="drugsId" />
        <result column="pharmacy_num" property="pharmacyNum" />
        <result column="pharmacy_warning" property="pharmacyWarning" />
    </resultMap>
    <resultMap id="WithDepartment" extends="BaseResultMap" type="cn.shiying.drugs_storage.entity.vo.DrugsDetailedVO">
        <association property="drugs" column="drugs_id" select="cn.shiying.common.mapper.Drugs.DrugsDetailedMapper.selectById" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        drugs_id, pharmacy_num, pharmacy_warning
    </sql>

    <select id="listDrugsDetailedVO" resultType="cn.shiying.drugs_storage.entity.vo.DrugsDetailedVO">
        select di.drugs_id,di.pharmacy_num,di.pharmacy_warning,dd.drugs_name
        from drugs_storage_detailed_info di
        inner join drugs_detailed dd
        on dd.drugs_id=di.drugs_id
        <where>
            <if test="params.name != null and params.name != ''">
                and dd.drugs_name LIKE concat('%',#{params.name},'%')
            </if>
            <if test="params.checked=='true'">
                and di.pharmacy_num &lt; di.pharmacy_warning
            </if>
        </where>

    </select>

</mapper>
