<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shiying.electronic_case.mapper.ElectronicCaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.shiying.electronic_case.entity.ElectronicCase">
        <id column="case_no" property="caseNo" />
        <result column="uid" property="uid" />
        <result column="patient_id" property="patientId" />
        <result column="department_id" property="departmentId" />
        <result column="enter_hospital" property="enterHospital" />
        <result column="leave_hospital" property="leaveHospital" />
        <result column="patient_symptom" property="patientSymptom" />
        <result column="doctor_advice" property="doctorAdvice" />
    </resultMap>
    <resultMap id="WithDepartment" extends="BaseResultMap" type="cn.shiying.electronic_case.entity.vo.ElectronicCaseVO">
        <association property="department" column="department_id" select="cn.shiying.common.mapper.DepartmentMapper.selectById" />
        <association property="patientDetailed" column="patient_id" select="cn.shiying.common.mapper.PatientDetailedMapper.selectById" />
    </resultMap>
    <!--    <resultMap id="WithPatientDetailed" extends="BaseResultMap" type="cn.shiying.electronic_case.entity.vo.ElectronicCaseVO">-->
    <!--    <association property="patientDetailed" column="patient_id" select="cn.shiying.common.mapper.PatientDetailedMapper.selectById" />-->
    <!--    </resultMap>-->
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        case_no, uid, patient_id, department_id, enter_hospital, leave_hospital, patient_symptom, doctor_advice
    </sql>

    <!--    <select id="listElectronicCaseVO" resultMap="WithDepartment">-->
    <!--            select <include refid="Base_Column_List" /> from  Electronic_case-->

    <!--                <where>-->
    <!--                    <if test="params.key != null and params.key != ''">-->
    <!--                        and patientDetailed.patient_name LIKE concat('%',#{params.key},'%')-->
    <!--                    </if>-->
    <!--                </where>-->

    <!--        </select>-->
    <select id="listElectronicCaseVO" resultType="cn.shiying.electronic_case.entity.vo.ElectronicCaseVO">
        select ec.*,su.username,pd.patient_name
        from electronic_case ec
        inner join sys_user su
        on ec.uid=su.user_id
        inner join patient_detailed pd
        on ec.patient_id=pd.patient_id
        <where>
            <if test="params.key != null and params.key != ''">
                and pa.patient_name LIKE concat('%',#{params.key},'%')
            </if>
        </where>
    </select>
    <!--    <select id="listElectronicCaseVO" resultMap="WithPatientDetailed">-->
    <!--        select <include refid="Base_Column_List" /> from  Electronic_case-->
    <!--    </select>-->
</mapper>
