<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shiying.electronic_case.mapper.ElectronicCaseDetailedMapper">


    <select id="selectElectronic" resultType="cn.shiying.electronic_case.entity.vo.ElectronicAndDetailedVO">
        select ic.icd_name,ec.onset_time
        from electronic_case ec
        inner join electronic_case_detailed dpd
        on ec.case_no=dpd.case_no
        inner join icd ic
        on dpd.icd_id=ic.icd_id
        where ec.patient_id=#{patientId}
    </select>
    <select id="getIds" resultType="java.lang.Integer">
        select t2.icd_id
        from electronic_case t1
        INNER JOIN electronic_case_detailed t2
        on t1.case_no=t2.case_no
        where t1.uid=#{uid}
        GROUP BY t2.icd_id
        ORDER BY COUNT(1) desc
        limit 5
    </select>
    <select id="selById" resultType="cn.shiying.common.entity.Icd.Icd">
        select icd_id,icd_name,icd_code from icd where
        <foreach collection="list" item="id" index="index" separator=" or ">
            icd_id=#{id}
        </foreach>
    </select>
</mapper>
